.share-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.share-container__button--styles {
  width: 199px;
  height: 50px;
  border: 0;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  background-color: #e17334;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
}

.share-container__button--icon-card {
  width: 25px;
  height: 22px;
  text-align: center;
  color: #ffffff;
}

.share-container__twitter {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d8d8d8;
  border-right: 0;
  border-bottom: 1px solid #d8d8d8;
  border-left: 0;
  margin-bottom: 30px;
}

.share-container__twitter__title {
  padding: 20px 0 5px 0;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #54585a;
}
.share-container__twitter--link {
  width: 100%;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #e17334;
}

.share-container__twitter__btn {
  width: 181px;
  height: 30px;
  margin-bottom: 30px;
  padding-top: 5px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #00a0f5;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
}

.share-container__twitter--ico-twitter {
  width: 18px;
  height: 18px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}
.collapsible__content2--twitter {
  display: none;
}

.error {
  border: 1px solid red;
}
.able {
  border: 1px solid green;
}
.disabled {
  background-color: rgb(219, 215, 215);
  cursor: none;
}

.errorMessage {
  color: red;
  text-align: center;
}
.show {
  display: flex;
}
