.hidden {
    .collapsible__content {
      display: none;
      overflow: hidden;
      transition: max-height 1.5s ease-in;
    }
  
    .collapsible--arrow {
      transform: rotate(0deg);
      transition: transform 1.2s ease;
    }
  }
  
.open {
    .collapsible{
      border-bottom: 1px solid transparent;
    }
  
    .collapsible__content {
      border-left: 0.1px solid transparent;
      display: block;
      transition: max-height 1.5s ease-in;
    }
  
    .collapsible__header--arrow-icon {
      transform: rotate(180deg);
      padding-right: 150px;
     
    }
}