.name--palette-1 {
  color: #114e4e;
}

.container--palette-1 {
  border-left: solid 5px #438792;
}


.icon--palette-1 {
  color: #114e4e;

}

.list--palette-1 {
  border: 2px solid #a2deaf;
}

.list--palette-2 {
  border: 2px solid #e95626;
}


.list--palette-3 {
  border: 2px solid #a0c0cf;
}

.container--palette-2 {
  border-left: solid 5px #bd1010;
}

.name--palette-2 {
  color: #420101;

}

.name--palette-3 {
  color: #3e5b65;

}

.container--palette-3 {
  border-left: solid 5px #eab052;
}


.icon--palette-2 {
  color: #420101;

}

.icon--palette-3 {
  color: #3e5b65;

}

.background--palette-1 {
  background-image: url(../images/01.jpg);
}

.background--palette-2 {
  background-image: url(../images/04.jpg);
}

.background--palette-3 {
  background-image: url(../images/05.jpg);
}
