@import './core/_variables';

// color palette 1

.name--palette-1 {
  color: $color1Palette1;
}

.container--palette-1 {
  border-left: solid 5px $color2Palette1;
}

.icon--palette-1 {
  color: $color1Palette1;
}

.list--palette-1 {
  border: 2px solid $color3Palette1;
}

// color palette 2

.name--palette-2 {
  color: $color1Palette2;
}

.container--palette-2 {
  border-left: solid 5px $color2Palette2;
}

.icon--palette-2 {
  color: $color1Palette2;
}

.list--palette-2 {
  border: 2px solid $color3Palette2;
}

// color palette 3

.name--palette-3 {
  color: $color1Palette3;
}

.container--palette-3 {
  border-left: solid 5px $color2Palette3;
}

.icon--palette-3 {
  color: $color1Palette3;
}

.list--palette-3 {
  border: 2px solid $color3Palette3;
}

// color palette 4

.name--palette-4 {
  color: $color1Palette4;
}

.container--palette-4 {
  border-left: solid 5px $color2Palette4;
}

.icon--palette-4 {
  color: $color1Palette4;
}

.list--palette-4 {
  border: 2px solid $color3Palette4;
}

// backgrounds

.background--palette-1 {
  background-image: url(../images/01.jpg);
}

.background--palette-2 {
  background-image: url(../images/04.jpg);
}

.background--palette-3 {
  background-image: url(../images/05.jpg);
}

.background--palette-4 {
  background-image: url(../images/03.jpg);
}
