@import './core/_variables';

.collapsible {
  &__header {
    padding-top: 27px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;

    &--icon {
      color: $orange;
      font-size: 18px;
      align-self: center;
    }

    &--title {
      font-family: 'Open Sans';
      font-size: 18px;
      text-transform: uppercase;
      color: $textColor;
    }

    &--arrow-icon {
      color: $textColor;
      font-size: 18px;
      text-align: end;
      align-self: center;
    }
  }

  &__content {
    margin-top: 22px;

    &--title {
      font-family: 'Open Sans';
      font-size: 14px;
      text-transform: uppercase;
      color: $textColor;
    }

    &--position {
      padding-left: 145px;

      @media all and (min-width: 768px) {
        padding-left: 194px;
      }
    }
  }
}

.palette1,
.palette2,
.palette3 {
  display: flex;
  margin-bottom: 20px;

  &--radio {
    align-self: center;
  }
}

.palette1 {
  &--colorA {
    width: 30px;
    height: 25px;
    background-color: $color1Palette1;
    margin-left: 10px;
  }

  &--colorB {
    width: 30px;
    height: 25px;
    background-color: $color2Palette1;
  }

  &--colorC {
    width: 30px;
    height: 25px;
    background-color: $color3Palette1;
  }
}

.palette2 {
  &--colorA {
    width: 30px;
    height: 25px;
    background-color: $color1Palette2;
    margin-left: 10px;
  }

  &--colorB {
    width: 30px;
    height: 25px;
    background-color: $color2Palette2;
  }

  &--colorC {
    width: 30px;
    height: 25px;
    background-color: $color3Palette2;
  }
}

.palette3 {
  &--colorA {
    width: 30px;
    height: 25px;
    background-color: $color1Palette3;
    margin-left: 10px;
  }

  &--colorB {
    width: 30px;
    height: 25px;
    background-color: $color2Palette3;
  }

  &--colorC {
    width: 30px;
    height: 25px;
    background-color: $color3Palette3;
  }
}
