@import './core/_variables';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px $shareBtnBorder;
  background-color: $white;
  height: 15vh;

  &__copy {
    padding: 18px 61px 12px 61px;
    opacity: 0.5;
    font-family: $textFont;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    color: $textColor2;
  }

  &__logo {
    padding: 0px 108px 20px 109px;
    align-items: center;

    &--width {
      width: 103px;
    }
  }
}

@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    &__copy {
      padding: 18px 0px 22px 41px;
    }

    &__logo {
      padding: 10px 40px 10px 386px;
    }
  }

  @media all and (min-width: 1280px) {
    &__logo {
      width: 103px;
      height: 40px;
      padding: 10px 40px 10px 785px;
    }
  }
}
