@import './core/_variables';

.principal-column {
  margin: 0 20px;
}
.articles-container {
  align-self: center;
  @media all and (min-width: 768px) {
    align-self: flex-start;
    width: 380px;
  }
}

.collapsible {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $lightGrey;
  border-left: 0;
}
