.img-creation__card {
  &--list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 62px 12px 20px;


    & a {
      padding: 10px;

      &:active {
        color: #438792;
      }
    }
  }

  &--round {
    height: 32px;
    width: 32px;
    background: transparent;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
