.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;



  &__image {
    width: 250px;
    height: 69px;
  }



  &__title {
    width: 350px;
    height: 24px;
    margin-top: 35.4px;
    margin-bottom: 0;
    font-family: "Merriweather";
    font-size: 19.2px;
    font-weight: 900;
    text-align: center;
    color: #e17334;
  }

  &__text {
    width: 264.8px;
    height: 38.4px;
    margin: 0 0 17.8px 0;
    font-family: "Open Sans";
    font-size: 12.8px;
    text-align: center;
    color: #114e4e;
  }



  &__box {
    width: 268px;
    height: 73.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: solid 1.6px #e1733433;

    &--links {
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &--icons {
      width: 32px;
      height: 26px;
      font-size: 22.4px;
      color: #e17334;
    }

    &--text {
      margin: 0;
      width: 50px;
      height: 22px;
      font-family: "Open Sans";
      font-size: 12.8px;
      color: #54585a;
    }
  }



  &__button {
    width: 129px;
    height: 42px;
    border-radius: 21px;
    margin-top: 38.6px;
    text-decoration: none;
    background-color: #438792;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #438792;

    &--text {
      width: 89px;
      height: 22px;
      margin: 0;
      text-align: center;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .container {
    height: 90vh;

    &__image {
      width: 419px;
      height: 105px;
    }

    &__title {
      width: 350px;
      height: 31px;
      margin-top: 31px;
      font-size: 24px;
    }

    &__text {
      width: 331px;
      height: 48px;
      margin: 0 0 27px 0;
      font-size: 16px;
    }



    &__box {
      width: 325px;
      height: 86px;
      border-radius: 5px;
      border: solid 1.6px #e1733433;

      &--links {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      &--icons {
        width: 25px;
        height: 29px;
        font-size: 28px;
      }



      &--text {
        margin: 0;
        width: 75px;
        font-size: 16px;
      }
    }



    &__button {
      margin-top: 186px;
    }
  }
}



@media (min-width: 1280px) {
  .container {
    height: 90vh;



    &__image {
      width: 419px;
      height: 105px;
      margin-top: 50px;
    }



    &__title {
      width: 350px;
      height: 31px;
      margin-top: 31px;
      font-size: 24px;
    }

    &__text {
      width: 331px;
      height: 48px;
      margin: 0 0 27px 0;
      font-size: 16px;
    }



    &__box {
      width: 325px;
      height: 86px;
      border-radius: 5px;
      border: solid 1.6px #e1733433;

      &--links {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      &--icons {
        width: 25px;
        height: 29px;
        font-size: 28px;
      }



      &--text {
        margin: 0;
        width: 75px;
        font-size: 16px;
      }
    }

    &__button {
      margin-top: 80px;
    }
  }
}
