@media all and (max-width: 768px) {
  .cards-page {
    background: linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(245, 245, 245, 1) 14%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    flex-direction: column-reverse;
  }
}

@media all and (min-width: 768px) {
  .cards-page {
    background: linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(245, 245, 245, 1) 14%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: center;
  }
}
