// home page color palette
$black: black;
$white: white;
$khaki: #f9f4dc;
$orange: #e17334;
$darkBlue: #114e4e;
$brightBlue: #438792;
$brightGreen: #a2deaf;

// color items

// texts
$textColor: #54585a;
$textColor2: #6b6b6b;
$textColor3: $white;
$textCard: $darkBlue;

// backgrounds
$backgroundColor1: #f5f5f5;
$backgroundColor2: #d5d5d5;
$twitter: #00a0f5;

// borders
$resetBorder: $white;
$formBorder: $brightGreen;
$landingBorder: $orange;
$footerBorder: #d8d8d8;

// user color palettes

// user color palette Greenish
$userPaletteGreenish1: $darkBlue;
$userPaletteGreenish2: $brightBlue;
$userPaletteGreenish3: $brightGreen;

// user color palette Blood
$userPaletteBlood1: #420101;
$userPaletteBlood2: #bd1010;
$userPaletteBlood3: #e95626;

// user color palette Office
$userPaletteOffice1: #3e5b65;
$userPaletteOffice2: #eab052;
$userPaletteOffice3: #a0c0cf;

// fonts
$textFont: 'Open Sans', sans-serif;
$cardFont: 'Montserrat', sans-serif;
$specialFont: 'Merriweather', sans-serif;

// font size
$defaultFontSize: 16px;

// display
$displayM: 768px;
$displayL: 1024px;
