// fonts
$textFont: 'Open Sans', sans-serif;
$cardFont: 'Montserrat', sans-serif;
$specialFont: 'Merriweather', sans-serif;

// main color palette
$black: black;
$white: white;
$khaki: #f9f4dc;
$lightGrey: #d8d8d8;
$orange: #e17334;
$darkBlue: #114e4e;
$brightBlue: #438792;
$brightGreen: #a2deaf;

// items
$twitter: #00a0f5;

// texts
$textColor: #54585a;
$textColor2: #6b6b6b;
$textColor3: $white;
$textCard: $darkBlue;

// backgrounds
$landingBg: #f5f5f5;
$loaderBg: #f8b26a;

// borders
$resetBorder: $white;
$formBorder: $brightGreen;
$landingBorder: #e1733433;
$footerBorder: $lightGrey;
$shareBtnBorder: $lightGrey;

// user color palettes

// color palette 1
$color1Palette1: $darkBlue;
$color2Palette1: $brightBlue;
$color3Palette1: $brightGreen;

// color palette 2
$color1Palette2: #420101;
$color2Palette2: #bd1010;
$color3Palette2: #e95626;

// color palette 3
$color1Palette3: #3e5b65;
$color2Palette3: #eab052;
$color3Palette3: #a0c0cf;

// color palette 4
$color1Palette4: #7126e9;
$color2Palette4: #e926e9;
$color3Palette4: #e92667;
