<fieldset class="collapsible js-myform">
  <div class="js-collapsible--trigger collapsible__header--fill">
    <i class="far fa-keyboard collapsible__header--icon"></i>
    <h2 class="collapsible__header__title">Rellena</h2>
    <i class="fas fa-chevron-up collapsible__header--arrow-icon"></i>
  </div>
  <div class="collapsible__content">
    <div>
      <label class="collapsible__content--style-text required" for="fullname"> Nombre completo</label>
      <input class="js-input-name js-input-text collapsible__content--input-form" placeholder="Ej: Sally Jill" type="text" id="fullname" name="name" required />
    </div>
    <div>
      <label class="collapsible__content--style-text required" for="job"> Puesto</label>
      <input class="js-input-job js-input-text collapsible__content--input-form" placeholder="Ej: Front-end" type="text" id="job" name="job" required />
    </div>
    <label class="collapsible__content--style-text" for="image"> Imagen de perfil</label>
    <div class=" action collapsible__content--container-button">
      <button class="action__upload-btn js__profile-trigger collapsible__content--style-text--button" type="button">Añadir imagen</button>
      <input type="file" name="" id="img-selector" class="action__hiddenField js__profile-upload-btn" />
    </div>
    <div class="profile">
      <div class="js__profile-preview collapsible__content--container-button--image-box"></div>
    </div>
    <label class="collapsible__content--style-text required" for="phone"> Teléfono</label>
    <input class="js-input-phone js-input-text collapsible__content--input-form" placeholder="Ej: 555-55-55-55" type="tel" id="phone" name="phone" required />
    <div>
      <label class="collapsible__content--style-text required" for="email"> Email</label>
      <input class="js-input-email  js-input-text collapsible__content--input-form" placeholder="Ej: sally-hill@gmail.com" type="email" id="email" name="email" required />
    </div>
    <div>
      <label class="collapsible__content--style-text required" for="linkedin"> Linkedin</label>
      <input class="js-input-linkedin js-input-text collapsible__content--input-form" placeholder="Ej: linkedin.com/in/sally.hill" type="url" id="linkedin" name="linkedin" required />
    </div>
    <div>
      <label class="collapsible__content--style-text required" for="github"> Github</label>
      <input class="js-input-github js-input-text collapsible__content--input-form" placeholder="Ej: @sally-hill" type="url" id="github" name="github" required />
    </div>
  </div>
</fieldset>
