<main class="container">
  <img
    class="container__image"
    src="./assets/images/descarga.svg"
    alt="Awesome"
  />
  <h2 class="container__title">
    Crea tu tarjeta de visita
  </h2>
  <p class="container__text">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>
  <div class="container__box">
    <div class="container__box--links">
      <i class="far fa-object-ungroup container__box--icons"></i>
      <p class="container__box--text">
        Diseña
      </p>
    </div>
    <div class="container__box--links">
      <i class="far fa-keyboard container__box--icons"></i>
      <p class="container__box--text">
        Rellena
      </p>
    </div>
    <div class="container__box--links">
      <i class="fas fa-share-alt container__box--icons"></i>
      <p class="container__box--text">
        Comparte
      </p>
    </div>
  </div>
  <a class="container__button" href="./cards.html">
    <p class="container__button--text">
      Comenzar
    </p>
  </a>
</main>
