<section class="js-card img-creation">
  <div class="js-card-palette1 js-background img-creation__container">
    <div class="img-creation__container--card">
      <button class="js-reset img-creation__button"><i class="far fa-trash-alt"></i>Reset</button>
      <article class=" img-creation__card">
        <div class="js-border img-creation__card--container">
          <h2 class="js-cardname js-pastename img-creation__card--name" value=""></h2>
          <h3 class="js-cardjob img-creation__card--profession" value=""></h3>
        </div>
        <div class="profile__image js__profile-image" style="background-image: url(https://via.placeholder.com/240x200)"></div>
        <ul class="img-creation__card--list">
          <li class="js-card-phone img-creation__card--round">
            <a class="js-cardphone js-pastename" href="tel:"><i class="fas fa-mobile-alt" title="Teléfono"></i></a>
          </li>
          <li class="js-card-email img-creation__card--round">
            <a class="js-cardemail js-pastename" href="mailto:"><i class="far fa-envelope" title="Enviar email"></i></a>
          </li>
          <li class="js-card-linkedin img-creation__card--round">
            <a class="js-cardlinkedin js-pastename" href alt="Linkedin"><i class="fab fa-linkedin-in" title="Ir al Linkedin"></i></a>
          </li>
          <li class="js-card-github img-creation__card--round">
            <a class="js-cardgithub js-pastename" href=""><i class="fab fa-github-alt" title="Ir al Github"></i></a>
          </li>
        </ul>
      </article>
    </div>
  </div>
</section>
